<h6 class="text-uppercase font-weight-bold titlte">note</h6>
<div class="write d-flex align-items-start">
  <a class="img-wrapper mix-icon-wrapper d-block mr-1"><img src="/assets/imgs/marker.png" alt="" /></a>
<textarea autosize placeholder="- Ghi lại những khoảnh khắc của bạn" [formControl]="note" (keyup)="addNote($event)">
</textarea>
</div>

<perfect-scrollbar style="max-height: 85vh">
  <div class="note-list pr-3">
    <!-- <a class="py-1 d-flex align-items-center">
      <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
        <img src="/assets/imgs/save.png" alt="" />
      </div>
      <div class="pl-3 topic-title" title="Bộ overlay max chất của somebody">Bộ overlay max chất của somebody</div>
    </a>
    <div class="py-1 align-items-start">
      <div class="img-wrapper mix-icon-wrapper d-inline-block align-items-center align-top">
        <img src="/assets/imgs/notepad.png" alt="" />
      </div>
      <div class="pl-3 font-italic d-inline-block note-text" title="Bộ overlay max chất của somebody">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rhoncus ante vitae nulla convallis cursus. Vestibulumsollicitudin metus quis ante aliquet vestibulum
      </div>
    </div> -->

    <ng-container *ngFor="let note of notes">
      <a *ngIf="note.type == 1" class="py-1 d-flex align-items-center">
        <div class="img-wrapper mix-icon-wrapper d-flex align-items-center">
          <img src="/assets/imgs/save.png" alt="" />
        </div>
        <div class="pl-3 topic-title" title="{{ note.content }}">{{ note.content }}</div>
      </a>
      <div class="py-1 align-items-start" *ngIf="note.type == 2">
        <div class="img-wrapper mix-icon-wrapper d-inline-block align-items-center align-top">
          <img src="/assets/imgs/notepad.png" alt="" />
        </div>
        <div class="pl-3 font-italic d-inline-block note-text" title="Bộ overlay max chất của somebody">
          {{ note.content }}
        </div>
      </div>
    </ng-container>
  </div>
</perfect-scrollbar>
